* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #656665;
  font-family: sans-serif;
  color: white;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav span {
  margin: 0 auto 0 8px;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.two {
  z-index: 2;
  /* border: yellow 1px solid; */
}

.display {
  /* margin: 50px 0 30px 0; */
  position: absolute;
  width: 100%;
  height: 300px;
  max-width: 600px;
  /* border: 1px solid red; */
  pointer-events: auto;
  z-index: -9;
}


.output {
  width: 100%;
  height: 300px;
  max-width: 600px;
  /* background-color: white; */
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAACLUlEQVR4Xu3dsXICMQwEUFMwNPz/50FDRwkNUFxmSJFMwnGenJwT5lF7DOOVdrWy7lgNwzCUic/tdivr9XpqWVlq3fl8LtvtNu3vqz2X/X5fVgD5jWPtAUavA8hITkUfdO1+AAHI5wnURkztOhqSLLIAApAmmU5DkgUWQDICcr1eJ43hpONaeMHlcimbzWbhXzH/6w+HA2P46Bhrq7vodSgrI2VpnWidMIYjmYmyUJbWybNaTIbIEBkiQ76dQLRviN7vTlmc+nyHHbUDp05DaAgNeTUN0TrROtE60Tppo11Nyl6UhbJQFsp6Icri1KN89vx9OHVOvQ11mFxMFlkAAcj9BPiQkUCQITJEhjwrKmWIDJEhb5MhnPp8hx21A6eejHoNygFE68SQgyGH/38nCh+SjHsBAhDG8G2MoamTZFMnp9Pp5Z9Tj3LKS+9zPB49p/4IhOiLp9r9OPVkxQlAAKJ1onWidaJ18jMLiHoybQAIQNqIdW1kddVcdKe+tD//+n536smojTEESBut6UpDtN+Ttd8BApDw5ypQVjIxBAhADDm8zZADp86pE/WRGODUk2khQACideJO3Z26O3V36v4L9zET1l65Rq/TOklWnXQFCKfOqXPqnHob/xOthZx6Mi0ECEDaUEdXVZYhB0MOqixVVhuqVGWNRFZXGsKpc+o0hIbQkKc8EC2GXWkIH8KH0BAaQkNoyB+mXXR7dXvbUEdXVdZut/NGuTxmvXwA+Swn3ZsN9OIAAAAASUVORK5CYII=') repeat 0 0;
}

.control {
  position: absolute;
  bottom: 20px;
  width: 100%;
  max-width: 600px;
}

textarea {
  background-color: rgba(17, 17, 17, 0.103);
  font-family: sans-serif;
  font-size: 12px;
  color: #ffffff;
  width: 100%;
  height: 100px;
  margin: 10px 0 0 0;
  border: 0;
  overflow-wrap: break-word;
  overflow-y: scroll;
  pointer-events: auto;
}

button {
  pointer-events: auto;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  height: 24px;
  width: 24px;
  text-align: center;
  margin: 0 5px;
}

button:hover {
  opacity: 0.5;
}

svg {
  stroke: grey;
  stroke-width: 0.5;
  fill: none;
  pointer-events: auto;
}

svg:hover {
  stroke:rgb(115, 255, 1) !important;
  cursor: pointer;
}

.xy { border: 1px solid rgb(52, 247, 237); }
.xy1 { border: 1px solid rgb(247, 124, 52); }
.xy2 { border: 1px solid rgb(241, 52, 247); }

.node {
  position: absolute;
  height: 9px;
  width: 9px;
  margin: -4px 0 0 -4px;
  border-radius: 50%;
  pointer-events: auto;
  /* transition: 0.1s; */
}

.node:hover {
  border-color:rgb(115, 255, 1);
  background-color: rgb(115, 255, 1);
  cursor: pointer;
}

.node.selected:hover {
  height: 21px;
  width: 21px;
  margin: -10px 0 0 -10px;
}

.indicator {
  position: fixed;
  bottom: 5px;
  left: 5px;
  /* height: 20px;
  width: 200px;
  border: red 1px solid; */
}